.container {
  padding: 20px;
  min-height: 500px;
}

.brand {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.companyName {
  margin-left: 0.5rem;
}
.darkMode {
  margin-bottom: 1rem;
}
.darkMode > span {
  margin-right: 1rem;
}
